@{
    ViewData["Title"] = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/coursescss.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
<section class="page-header">
    <div class="bg-item">
        <div class="bg-img" data-background="../assets/img/bg-img/1300x308bg-img.jpg"></div>
        <div class="overlay"></div>
        <div class="shapes">
            <div class="shape shape-1"><img src="~/assets/img/shapes/page-header-shape-1.png" alt="shape" loading="lazy"></div>
            <div class="shape shape-2"><img src="~/assets/img/shapes/page-header-shape-2.png" alt="shape" loading="lazy"></div>
            <div class="shape shape-3"><img src="~/assets/img/shapes/page-header-shape-3.png" alt="shape" loading="lazy"></div>
        </div>
    </div>
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Course Page</h1>
            <h4 class="sub-title"><a class="home" asp-controller="Home" asp-action="Index">Home </a><span class="icon">/</span><a class="inner-page" asp-controller="Home" asp-action="Courses"> Course Page</a></h4>
        </div>
    </div>
</section>
<!-- ./ page-header -->

<section class="feature-course bg-white pt-120 pb-120">
    <div class="container">
        <div class="section-heading text-center">
            <h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>Top Class Courses</h4>
            <h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">Explore Featured Courses</h2>
        </div>
        <div class="row gy-4 justify-content-center" id="CoursesData">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item skeleton-loader">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb skeleton-thumb"></div>
                    </div>
                    <div class="course-content">
                        <h3 class="title skeleton-text skeleton-title"></h3>
                        <ul class="course-list">
                            <li class="skeleton-text"></li>
                            <li class="skeleton-text"></li>
                            <li class="skeleton-text"></li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <span class="skeleton-button"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item skeleton-loader">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb skeleton-thumb"></div>
                    </div>
                    <div class="course-content">
                        <h3 class="title skeleton-text skeleton-title"></h3>
                        <ul class="course-list">
                            <li class="skeleton-text"></li>
                            <li class="skeleton-text"></li>
                            <li class="skeleton-text"></li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <span class="skeleton-button"></span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item skeleton-loader">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb skeleton-thumb"></div>
                    </div>
                    <div class="course-content">
                        <h3 class="title skeleton-text skeleton-title"></h3>
                        <ul class="course-list">
                            <li class="skeleton-text"></li>
                            <li class="skeleton-text"></li>
                            <li class="skeleton-text"></li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <span class="skeleton-button"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ course-section -->

<script src="~/assets/services/courses_service.js?v=@DateTime.Now.Ticks"></script>